/* below to try adjust font size from */
/* https://github.com/pi-hole/docs/blob/master/docs/extra.css  */
.md-nav {
    font-size: 14px;
    line-height: 1.4;
}

.md-typeset {
    font-size: .7rem;
    line-height: 1.5;
}

.md-typeset code,
.md-typeset pre {
    white-space: pre-wrap;
    color: var(--code-color);
}

/* snappic colors */
:root {
  --md-primary-fg-color:        #2FA4E7;
  --md-primary-fg-color--light: #2FA4E7;
  --md-primary-fg-color--dark:  #2FA4E7;
}
